@model freelunch.uk.Models.SpecialistViewModel
@{
    ViewBag.Title = "Websites, blogs and social media etc...";
}

<div class="row">
    <h4>Links to websites, blogs and social media 
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addTarget">
            <span class="glyphicon glyphicon-plus" aria-hidden="true" title="Add a link"></span>
        </button>
    </h4>
    
    <hr />
    @foreach (var link in Model.Links)
    {
        string iClass = "";
        string editTarget = "edit" + link.Id;
        string deleteTarget = "delete" + link.Id;

        switch (link.LinkType)
        {
            case freelunch.uk.Models.LinkType.Facebook:
                iClass = "fa fa-facebook";
                break;
            case freelunch.uk.Models.LinkType.LinkedIn:
                iClass = "fa fa-linkedin";
                break;
            case freelunch.uk.Models.LinkType.Twitter:
                iClass = "fa fa-twitter";
                break;
            default:
                iClass = "fa fa-book";
                break;
        }
        <div class="row">
            <div class="col-md-8">
                <i class="fa @iClass" aria-hidden="true"></i>
                <a href="@link.URL" style="text-decoration: none" title="@link.Text" target="_blank"> @link.Text</a>
            </div>
            <div class="col-md-4"> 
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#@editTarget">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit this link"> </span>
                </button>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#@deleteTarget">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete this link"> </span>
                </button>
            </div>

            <div id="@editTarget" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close close-button" data-dismiss="modal">
                                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                            </button>
                            <h4 class="modal-title">Edit the link</h4>
                        </div>
                        <p></p>
                        <section id="editForm">
                            @using (Html.BeginForm("EditLink", "Specialist", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                <div class="modal-body">
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(m => m.Links.First(l => l.Id == link.Id).Id)
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Links.First(l => l.Id == link.Id).Text, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.Links.First(l => l.Id == link.Id).Text, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Links.First(l => l.Id == link.Id).Text, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Links.First(l => l.Id == link.Id).URL, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.Links.First(l => l.Id == link.Id).URL, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Links.First(l => l.Id == link.Id).URL, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6 col-md-offset-2">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">Select the type of link</div>
                                                    <div class="panel-body">
                                                        @foreach (var linkType in Enum.GetValues(typeof(freelunch.uk.Models.LinkType)))
                                                        {
                                                            string type = linkType.ToString();
                                                            string id = "edit" + linkType.ToString();
                                                            <p>
                                                                @Html.RadioButtonFor(m => m.Links.First(l => l.Id == link.Id).LinkType, @linkType, new { id = @id })
                                                                <label for="@id" class="control-label"> @type </label>
                                                            </p>


                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-default">
                                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
                                        </button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Cancel
                                        </button>
                                    </div>
                                </div>
                            }
                        </section>
                    </div>
                </div>
            </div>

            <div id="@deleteTarget" class="modal fade" role="dialog" tabindex='-1'>
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close close-button" data-dismiss="modal">
                                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                            </button>
                            <h4 class="modal-title">Delete the link</h4>
                        </div>
                        <p></p>
                        <section id="deleteForm">
                            @using (Html.BeginForm("DeleteLink", "Specialist", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(m => m.Links.First(l => l.Id == link.Id).Id)

                                <div class="modal-body">
                                    <p>Delete your link <b>@link.Text</b> to <b>@link.URL</b> ?</p>
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-default">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                    </button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Cancel
                                    </button>
                                </div>
                            }
                        </section>
                    </div>

                </div>
            </div>
        </div>
    }

    <div id="addTarget" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close-button" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                    </button>
                    <h4 class="modal-title">Add a link</h4>
                </div>
                <p></p>
                <section id="addForm">
                    @using (Html.BeginForm("CreateLink", "Specialist", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <div class="modal-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.DummyLink.Text, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.DummyLink.Text, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DummyLink.Text, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.DummyLink.URL, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.DummyLink.URL, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DummyLink.URL, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-2">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Select the type of link</div>
                                            <div class="panel-body">
                                                @foreach (var linkType in Enum.GetValues(typeof(freelunch.uk.Models.LinkType)))
                                                {
                                                    string type = linkType.ToString();
                                                    string id = "add" + linkType.ToString();
                                                    <p>
                                                        @Html.RadioButtonFor(m => m.DummyLink.LinkType, @linkType, new { id = @id })
                                                        <label for="@id" class="control-label"> @type </label>
                                                    </p>


                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
                                </button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Cancel
                                </button>
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>

</div>


