@model freelunch.uk.Models.SpecialistViewModel
@{
    ViewBag.Title = "Specialist subjects";
}

<table data-toggle="table">
    <thead>
        <tr>
            <th class="col-md-4">
                @Html.LabelFor(m => Model.DummySpecialism.Subject)

            </th>
            <th class="col-md-6">@Html.LabelFor(m => Model.DummySpecialism.Description)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var specialism in Model.Specialisms)
        {
            string editSubject = "editSubject" + specialism.Id;
            string deleteSubject = "deleteSubject" + specialism.Id;

            <tr>
                <td class="col-md-4">@Html.Encode(specialism.Subject)</td>
                <td class="col-md-6">
                    <div class="col-md-8">
                        @Html.Encode(specialism.Description)
                    </div>
                    <div class="btn-group col-md-2">
                        <button type="button" class="btn btn-default btn-tool" data-toggle="modal" data-target="#@editSubject">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit this link"> </span>
                        </button>
                        <button type="button" class="btn btn-default btn-tool" data-toggle="modal" data-target="#@deleteSubject">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete this link"> </span>
                        </button>
                    </div>
                    <div id="@editSubject" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close close-button" data-dismiss="modal">
                                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                                    </button>
                                    <h4 class="modal-title">Edit a subject</h4>
                                </div>
                                <p></p>
                                <section id="editForm">
                                    @using (Html.BeginForm("EditSubject", "Specialist", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        <div class="modal-body">
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(m => m.Specialisms.First(l => l.Id == specialism.Id).Id)
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Specialisms.First(l => l.Id == specialism.Id).Subject, new { @class = "col-md-2 control-label" })
                                                <div class="col-md-10">
                                                    @Html.TextBoxFor(m => m.Specialisms.First(l => l.Id == specialism.Id).Subject, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Specialisms.First(l => l.Id == specialism.Id).Subject, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Specialisms.First(l => l.Id == specialism.Id).Description, new { @class = "col-md-2 control-label" })
                                                <div class="col-md-10">
                                                    @Html.TextAreaFor(m => m.Specialisms.First(l => l.Id == specialism.Id).Description, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Specialisms.First(l => l.Id == specialism.Id).Description, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="help-tip">
                                                <p>Give details of a topic that you would like to discuss over lunch.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-default">
                                                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
                                                </button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Cancel
                                                </button>
                                            </div>
                                        </div>
                                    }
                                </section>
                            </div>
                        </div>
                    </div>

                    <div id="@deleteSubject" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close close-button" data-dismiss="modal">
                                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                                    </button>
                                    <h4 class="modal-title">Delete a subject</h4>
                                </div>
                                <p></p>
                                <section id="deleteForm">
                                    @using (Html.BeginForm("DeleteSubject", "Specialist", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(m => m.Specialisms.First(l => l.Id == specialism.Id).Id)

                                        <div class="modal-body">
                                            <p>Delete your subject <b>@specialism.Subject</b></p>
                                            <p><b>@specialism.Description</b> ?</p>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-default">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                            </button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Cancel
                                            </button>
                                        </div>
                                    }
                                </section>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

