@model freelunch.uk.Models.SpecialistViewModel
@{
    ViewBag.Title = "Specialist";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <h4>Your specialist details</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                @Model.Name
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                @Model.Description
            </div>
        </div>
        <div class="col-md-4">
            @if (Model.Name != null)
            {
                <div>
                    <a href="@Url.Action("Edit", "Specialist", new { id = Model.UserId })" class="btn btn-default">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit"></span>
                    </a>
                    <a href="@Url.Action("Delete", "Specialist", new { id = Model.UserId })" class="btn btn-default">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete"></span>
                    </a>
                </div>
            }
            else
            {
                @Html.ActionLink("Become a specialist", "Create", "Specialist")
            }
        </div>
    </div>
</div>
<p>
@Html.Partial("_Links")
</p>