@model freelunch.uk.Models.SpecialistViewModel
@{
    ViewBag.Title = "Specialist";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <h4>Your specialist details</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">
            @if (Model.Name != null)
            {
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                @Model.Name
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                @Model.Description
            </div>
            }
            else
            {
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#createSpecialist">
                    <i class="fa fa-user" aria-hidden="true" title="Become a specialist"></i> Become a specialist
                </button>
            }
        </div>
        <div class="col-md-4">
            @if (Model.Name != null)
            {
                <div>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#editSpecialist">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit these details"></span>
                    </button>

                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#deleteSpecialist">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete these details"></span>
                    </button>
                </div>
            }
        </div>
    </div>
</div>

<div id="deleteSpecialist" class="modal fade" role="dialog" tabindex='-1'>
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-button" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                </button>
                <h4 class="modal-title">Delete the details</h4>
            </div>
            <p></p>
            <section id="deleteForm">
                @using (Html.BeginForm("Delete", "Specialist", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="modal-body">
                        <p> Are you sure you no longer want to be special?</p>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Cancel
                        </button>
                    </div>
                }
            </section>
        </div>

    </div>
</div>

<div id="editSpecialist" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-button" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                </button>
                <h4 class="modal-title">Edit the details</h4>
            </div>
            <p></p>
            <section id="editForm">
                @using (Html.BeginForm("Edit", "Specialist", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="modal-body">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(m => m.Name, new { @class = "col-md-3 col-md-offset-1 control-label" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Description, new { @class = "col-md-3 col-md-offset-1 control-label" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Cancel
                            </button>
                        </div>
                    </div>
                }
            </section>
        </div>

    </div>
</div>

<div id="createSpecialist" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-button" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                </button>
                <h4 class="modal-title">Create your details</h4>
            </div>
            <p></p>
            <section id="createForm">
                @using (Html.BeginForm("Create", "Specialist", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="modal-body">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Cancel
                        </button>
                    </div>
                }
            </section>
        </div>
    </div>
</div>

<p>
    <div class="row">
        <h4>Specialist subjects</h4>

        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addSubject">
            <span class="glyphicon glyphicon-plus" aria-hidden="true" title="Add a link"></span> Add a subject
        </button>

        <hr />
    </div>

    <div id="addSubject" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close-button" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                    </button>
                    <h4 class="modal-title">Add a subject</h4>
                </div>
                <p></p>
                <section id="addForm">
                    @using (Html.BeginForm("CreateSubject", "Specialist", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="modal-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.DummySpecialism.Subject, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.DummySpecialism.Subject, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DummySpecialism.Subject, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.DummySpecialism.Description, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.DummySpecialism.Description, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DummySpecialism.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
                                </button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Cancel
                                </button>
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</p>

<p>
    @Html.Partial("_Links")
</p>