@model freelunch.uk.Models.SpecialistViewModel
@{
    ViewBag.Title = "Specialist";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-8">
        <h4>Your specialist details</h4>
        <hr />
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                 @Model.Name
            </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
            @Model.Description
        </div>

        <div class="row">
            @if (Model.Name != null)
            {
                <div>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = Model.UserId })
                </div>
            }
            else
            {
                @Html.ActionLink("Become a specialist", "Create", "Specialist")
            }
        </div>
    </div>
</div>

@Html.Partial("_Links")