@model freelunch.uk.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}


<div>
    <h2>@ViewBag.Title.</h2>
    <div>
        Change your account settings
    </div>
</div>

<p class="text-success">@ViewBag.StatusMessage</p>
<hr />

<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
            <dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber")
                }
                ]
            </dd>

            <dt>Two-Factor Authentication:</dt>
            <dd>
                @if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled <input type="submit" value="Disable" class="btn btn-link" style="padding:0px; margin:0px; border:0px" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled <input type="submit" value="Enable" class="btn btn-link" style="padding:0px; margin:0px; border:0px" />
                        </text>
                    }
                }
            </dd>
        </dl>
        
        <h5>Receive information from...</h5>

        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(m => m.Preferences.ReceiveMFLMailing)</dt>
            <dd>
                @if (Model.Preferences.ReceiveMFLMailing)
                {
                    using (Html.BeginForm("MFLMailingOptOut", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Yes - change to <input type="submit" value="No" class="btn btn-link" style="padding:0px; margin:0px; border:0px" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("MFLMailingOptIn", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>No - change to  <input type="submit" value="Yes" class="btn btn-link" style="padding:0px; margin:0px; border:0px" /></text>
                    }
                }
            </dd>
            <dt>@Html.DisplayNameFor(m => m.Preferences.ReceivePartnerMailing)</dt>
            <dd>
                @if (Model.Preferences.ReceivePartnerMailing)
                {
                    using (Html.BeginForm("PartnerMailingOptOut", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Yes - change to  <input type="submit" value="No" class="btn btn-link" style="padding:0px; margin:0px; border:0px" /></text>
                    }
                }
                else
                {
                    using (Html.BeginForm("PartnerMailingOptIn", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>No - change to  <input type="submit" value="Yes" class="btn btn-link" style="padding:0px; margin:0px; border:0px" /></text>
                    }
                }
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        @Html.Partial("_SpecialistLink")
        <br />
        @Html.Partial("_LunchLink")
    </div>
</div>


