@model freelunch.uk.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<script type="text/javascript">
    $(window).load(function () {
        if ('@ViewBag.AddPhoneModal' == 'show')
            $('#addPhoneDialog').modal('show');
        else if ('@ViewBag.ChangePhoneModal' == 'show')
            $('#changePhoneDialog').modal('show');
        else if ('@ViewBag.RemovePhoneModal' == 'show')
            $('#removePhoneDialog').modal('show');
    });
</script>

<div>
    <h2>@ViewBag.Title.</h2>
    <div>
        Change your account settings
    </div>
</div>

<p class="text-success">@ViewBag.StatusMessage</p>
<hr />

<div class="row">
    <div class="col-md-6">

        <div id="addPhoneDialog" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close close-button" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                        </button>
                        <h4 class="modal-title">Add a phone number</h4>
                    </div>
                    <p></p>
                    <section id="editForm">
                        @using (Html.BeginForm("AddPhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            <div class="modal-body">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
                                </button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Cancel
                                </button>
                            </div>
                        }
                    </section>
                </div>
            </div>
        </div>

        <div id="changePhoneDialog" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close close-button" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                        </button>
                        <h4 class="modal-title">Edit your phone number</h4>
                    </div>
                    <p></p>
                    <section id="editForm">
                        @using (Html.BeginForm("AddPhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            <div class="modal-body">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
                                </button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Cancel
                                </button>
                            </div>
                        }
                    </section>
                </div>
            </div>
        </div>

        <div id="removePhoneDialog" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close close-button" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                        </button>
                        <h4 class="modal-title">Delete your phone number</h4>
                    </div>
                    <p></p>
                    <section id="editForm">
                        @using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            @Html.HiddenFor(m => m.PhoneNumber);
                            
                            <div class="modal-body">
                                <p>Delete this Phone Number <b>@Model.PhoneNumber</b> ?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                </button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Cancel
                                </button>
                            </div>
                        }
                    </section>
                </div>
            </div>
        </div>



        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
            <dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    <a data-target="#changePhoneDialog" data-toggle="modal" href="">Edit</a>
                    @: &nbsp;|&nbsp;
                    <a data-target="#removePhoneDialog" data-toggle="modal" href="">Delete</a>
                }
                else
                {
                    <a data-target="#addPhoneDialog" data-toggle="modal" href="">Add</a>
                }
                ]
            </dd>

            <dt>Two-Factor Authentication:</dt>
            <dd>
                @if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled <input type="submit" value="Disable" class="btn btn-link" style="padding:0px; margin:0px; border:0px" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled <input type="submit" value="Enable" class="btn btn-link" style="padding:0px; margin:0px; border:0px" />
                        </text>
                    }
                }
            </dd>
        </dl>
        
        <h5>Receive information from...</h5>

        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(m => m.Preferences.ReceiveMFLMailing)</dt>
            <dd>
                @if (Model.Preferences.ReceiveMFLMailing)
                {
                    using (Html.BeginForm("MFLMailingOptOut", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Yes - change to <input type="submit" value="No" class="btn btn-link" style="padding:0px; margin:0px; border:0px" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("MFLMailingOptIn", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>No - change to  <input type="submit" value="Yes" class="btn btn-link" style="padding:0px; margin:0px; border:0px" /></text>
                    }
                }
            </dd>
            <dt>@Html.DisplayNameFor(m => m.Preferences.ReceivePartnerMailing)</dt>
            <dd>
                @if (Model.Preferences.ReceivePartnerMailing)
                {
                    using (Html.BeginForm("PartnerMailingOptOut", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Yes - change to  <input type="submit" value="No" class="btn btn-link" style="padding:0px; margin:0px; border:0px" /></text>
                    }
                }
                else
                {
                    using (Html.BeginForm("PartnerMailingOptIn", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>No - change to  <input type="submit" value="Yes" class="btn btn-link" style="padding:0px; margin:0px; border:0px" /></text>
                    }
                }
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        @Html.Partial("_SpecialistLink")
        <br />
        @Html.Partial("_LunchLink")
    </div>
</div>


