@model freelunch.uk.Models.LunchViewModel
@{
    ViewBag.Title = "Lunch";
}

<div>
    <h2>Lunch Details.</h2>
    <br />

    <div>
        A hunger for knowledge.
    </div>
</div>
<hr />
<div>
    <div id="toolbar" class="row">
        @if (Model.Name != null)
        {
            <div class="col-md-4">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#editLunch">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit"></span> Edit
                </button>

                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#deleteLunch">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete"></span> Delete
                </button>
            </div>

            <div id="deleteLunch" class="modal fade" role="dialog" tabindex='-1'>
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close close-button" data-dismiss="modal">
                                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                            </button>
                            <h4 class="modal-title">Delete the details</h4>
                        </div>
                        <p></p>
                        <section id="deleteForm">
                            @using (Html.BeginForm("Delete", "Lunch",  FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="modal-body">
                                    <p> Are you sure you want to delete this lunch?</p>
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-default">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                    </button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Cancel
                                    </button>
                                </div>
                            }
                        </section>
                    </div>

                </div>
            </div>

    <div id="editLunch" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close-button" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                    </button>
                    <h4 class="modal-title">Edit the details</h4>
                </div>
                <p></p>
                <section id="editForm">
                    @using (Html.BeginForm("Edit", "Lunch",  FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <div class="modal-body">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(m => m.Name, new { @class = "col-md-4 control-label" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Website, new { @class = "col-md-4 control-label" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.Website, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Website, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Image, new { @class = "col-md-4 control-label" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.Image, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Image, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Audience, new { @class = "col-md-4 control-label" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.Audience, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Audience, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.AudienceNumber, new { @class = "col-md-4 control-label" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.AudienceNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.AudienceNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ContactName, new { @class = "col-md-4 control-label" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ContactName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
                                </button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Cancel
                                </button>
                            </div>
                        </div>
                    }
                </section>
            </div>

        </div>
    </div>
        }
        else
        {
            <div class="col-md-2">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#createLunch">
                    <i class="fa fa-user" aria-hidden="true" title="Become a specialist"></i> Propose a lunch
                </button>
            </div>
        }
        <p class="text-success">@ViewBag.StatusMessage</p>
    </div>

    <hr />

    <div class="row ">
        @if (Model.Name != null)
        {
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(m => m.Name)</dt>
                    <dd>@Html.Encode(Model.Name)</dd>
                    <dt>@Html.DisplayNameFor(m => m.Website)</dt>
                    <dd>@Html.Encode(Model.Website)</dd>
                    <dt>@Html.DisplayNameFor(m => m.ContactName)</dt>
                    <dd>@Html.Encode(Model.ContactName)</dd>
                    <dt>@Html.DisplayNameFor(m => m.Email)</dt>
                    <dd>@Html.Encode(Model.Email)</dd>

                    <dt>@Html.DisplayNameFor(m => m.Image)</dt>
                    <dd>@Html.Encode(Model.Image)</dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(m => m.Audience)</dt>
                    <dd>@Html.Encode(Model.Audience)</dd>
                    <dt>@Html.DisplayNameFor(m => m.AudienceNumber)</dt>
                    <dd>@Html.Encode(Model.AudienceNumber)</dd>

                    <dt>@Html.DisplayNameFor(m => m.DisplayTopic.Name)</dt>
                    <dd>@Html.Encode(Model.DisplayTopic.Name)</dd>
                </dl>
            </div>
        }
    </div>
</div>
