@model freelunch.uk.Models.LunchViewModel


<div class="well well-lg">
    <h2>Lunch Details.</h2>
    <br />

    <div>
        A hunger for knowledge.
    </div>
</div>

<div>
    <div id="toolbar" class="row">
        @if (Model.Name != null)
        {
            <div class="col-md-4">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#editSpecialist">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit"></span> Edit
                </button>

                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#deleteSpecialist">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete"></span> Delete
                </button>

                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-toggle="modal" data-target="#addSubject">Add a Specialist subject</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#addLink">Add a Links to...</a></li>
                    </ul>
                </div>
            </div>
        }
        else
        {
            <div class="col-md-2">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#createSpecialist">
                    <i class="fa fa-user" aria-hidden="true" title="Become a specialist"></i> Become a specialist
                </button>
            </div>
        }
        <p class="text-success">@ViewBag.StatusMessage</p>
    </div>

    <hr />

    <div class="row ">
        @if (Model.Name != null)
        {
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(m => m.Name)</dt>
                    <dd>@Html.Encode(Model.Name)</dd>
                    <dt>@Html.DisplayNameFor(m => m.Website)</dt>
                    <dd>@Html.Encode(Model.Website)</dd>
                    <dt>@Html.DisplayNameFor(m => m.ContactName)</dt>
                    <dd>@Html.Encode(Model.ContactName)</dd>
                    <dt>@Html.DisplayNameFor(m => m.Email)</dt>
                    <dd>@Html.Encode(Model.Email)</dd>

                    <dt>@Html.DisplayNameFor(m => m.Image)</dt>
                    <dd>@Html.Encode(Model.Image)</dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(m => m.Audience)</dt>
                    <dd>@Html.Encode(Model.Audience)</dd>
                    <dt>@Html.DisplayNameFor(m => m.AudienceNumber)</dt>
                    <dd>@Html.Encode(Model.AudienceNumber)</dd>

                    <dt>@Html.DisplayNameFor(m => m.DisplayTopic.Name)</dt>
                    <dd>@Html.Encode(Model.DisplayTopic.Name)</dd>
                </dl>
            </div>
        }
    </div>
</div>
