@{ 
    
    ViewBag.twitter = "@meetfreelunch";

    string _username = @User.Identity.GetUserName();
    string _userid = @User.Identity.GetUserId();
}

@using Microsoft.AspNet.Identity
@using freelunch.uk.Common


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - freelunch.uk</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/freelunch")
    @Scripts.Render("~/bundles/bootstrap")

    <style type="text/css">
      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      #wrap > .container {
        padding-top: 60px;
      }
      .container .credit {
        margin: 20px 0;
      }

      code {
        font-size: 80%;
      }

    </style>
</head>
<body>
    <script type="text/javascript">
        var first = "info";
        var last = "meetfreelunch.uk";

    $(function () {
        if (document.cookie.indexOf("cookies") < 0) {
            $('#cookie-consent').slideDown('slow');
        }
        else {
            $('#cookie-consent');
        }

        $('#consent').on('click', function () {
            document.cookie = "cookies=yes; path=/; max-age=" + (5 * 365 * 24 * 60 * 60);
            $('#cookie-consent').slideUp('slow');
        });
        $('#learn-more').on('click', function () {
            location.href = '@Url.Action("Privacy", "Home")';
        })
    });
</script>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div id="cookie-consent" class="cookie-consent">
                This site uses cookies to personalise content and adverts, to provide social media features and to analyse traffic.
                <button class="btn btn-xs btn-white" id="consent">I'm happy with this</button> <button class="btn btn-xs btn-white" id="learn-more">Learn more</button>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("meetfreelunch.uk", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("Specialists", "Home")">
                            <i class="fa fa-users" aria-hidden="true"></i> Specialists
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Lunch", "Home")">
                            <i class="fa fa-cutlery" aria-hidden="true"></i> Lunch
                        </a>
                    </li>
                </ul>

                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="" data-toggle="modal" data-target="#accountMenu">
                                <i class="fa fa-cog" aria-hidden="true"></i> Account
                            </a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="@Url.Action("Register", "Account")">
                                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>  Register
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Login", "Account")">
                                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>  Sign in
                            </a>        
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>

    <div id="accountMenu" class="modal fade" role="dialog" tabindex='-1'>
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close-button" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                    </button>
                    <h4 class="modal-title">Account</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>
                                @_username
                            </h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            @Html.ActionLink("Manage your account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @style = "text-decoration: none" })
                        </div>
                        <div class="col-md-6">
                            @Html.Partial("_SpecialistLink")
                            <br />
                            @Html.Partial("_LunchLink")
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Sign out
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Cancel
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-4">
                    &copy; @DateTime.Now.Year - meetfreelunch.uk
                </div>
                <div class="col-md-6">
                    Contact us at: <i class="fa fa-envelope" aria-hidden="true"></i>
                    <script type="text/javascript">
                        document.write('<a href="mailto:' + first + '@@' + last + '" style="text-decoration: none" title="Send us an email">' + first + '@@' + last + '<\/a>');
                    </script>
                    | <i class="fa fa-twitter" aria-hidden="true"></i><a href="https://twitter.com/meetfreelunch" style="text-decoration: none" title="Connect with us on twitter" target="_blank"> @ViewBag.twitter</a>
                </div>
                <div class="col-md-2">
                    @Html.ActionLink("Terms and conditions", "Terms", "Home", null, new { @target="_blank" })
                </div>
            </div>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
